h1{
    background-color: darkcyan;
    color: white;
    display: flex;
    text-align: center;
    justify-content:center;
}

div{
    background-color: darkslategray;
    justify-content: center;
    text-align: center;
}